#fifth-wrapper {
  background-color: var(--bg-color);
  padding-bottom: 5.875rem;
}
.fifth-block > h2 {
  padding-top: 6.25rem;
}
.fifth-block__reviews {
  display: flex;
  justify-content: space-around;
  flex-wrap: no-wrap;
  margin-bottom: 3.75rem;
}
.fifth-block__reviews > div {
  margin: 0 1.25rem;
}
.fifth-block__reviews > div > h3 {
  margin: 0 0 0.625rem 0;
  text-align: left;
}
.fifth-block__reviews > div > p > time {
  font-family: var(--font-fm);
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
  margin-right: 0.625rem;
}
.fifth-block__reviews > div > p {
  margin-bottom: 1.1875rem;
}
.fifth-block__text-reviews-one,
.fifth-block__text-reviews-two,
.fifth-block__text-reviews-three,
.fifth-block__text-reviews-full-one,
.fifth-block__text-reviews-full-two,
.fifth-block__text-reviews-full-three {
  font-family: var(--font-fm);
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
}
.fifth-block__text-reviews-full-one,
.fifth-block__text-reviews-full-two,
.fifth-block__text-reviews-full-three {
  display: none;
}
.fifth-block__reviews > div > span {
  font-family: var(--font-fm);
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
  text-decoration: underline var(--font-color);
  cursor: pointer;
}
.fifth-block > button {
  display: block;
  margin: 0 auto;
  background-color: var(--bg-color);
  border: 0.0625rem solid var(--font-color);
  cursor: pointer;
  padding: 0.8125rem 4rem;
}
.fifth-block > button:hover {
  background: var(--bg-sec-color);
  border: 0.0625rem solid var(--bg-sec-color);
}
.fifth-block > button > label {
  font-family: var(--font-fm);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--font-color);
}
.fifth-block > button > label:hover {
  font-weight: bold;
}
.hidden {
  display: none;
}
.show {
  display: flex;
  /*width: 21.875rem;*/
}
/*Adaptive*/
@media (max-width: 73.75rem) {
  .fifth-block__reviews {
    margin-left: 0.6875rem;
  }
  .fifth-block__reviews-adapt-three {
    display: none;
  }
}
@media (max-width: 48rem) {
  .fifth-block > h2 {
    padding-top: 2.5rem;
  }
  .fifth-block > h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .fifth-block__reviews {
    margin-left: 0.6875rem;
  }
  .fifth-block__reviews > div > h3 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}
@media (max-width: 35rem) {
  .fifth-block__reviews-adapt-two,
  .fifth-block__reviews-adapt-three {
    display: none;
  }
}
