.fourth-block > h2 {
  margin-bottom: 0.9375rem;
}
.fourth-block__cars-info {
  margin-bottom: 3.75rem;
}
.fourth-block__cars-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.75rem;
}
.fourth-block__cars-button-one,
.fourth-block__cars-button-two,
.fourth-block__cars-button-three {
  background: var(--bg-sec-color);
  margin-right: 1.25rem;
  border: 0.0625rem solid #ebebeb;
  padding: 0.8125rem 1rem 0.8125rem 1rem;
  width: 12.5625rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--font-color);
  cursor: pointer;
}
.fourth-block__cars-button > div:hover {
  border: 0.0625rem solid var(--bg-color);
  transition: 0.5s;
}
.fourth-block__cars__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-block__cars__description-one {
  display: flex;
  justify-content: space-between;
}
.fourth-block__cars__description-two,
.fourth-block__cars__description-three {
  display: none;
}
.fourth-block__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fourth-block__slider > p {
  margin-bottom: 7.5rem;
}
.fourth-block__cars__description__arrow-left,
.fourth-block__cars__description__arrow-right {
  cursor: pointer;
}
.fourth-block__cars__description__arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.fourth-block__cars__description__arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.fourth-block__cars__description__info {
  margin: 0 7rem 0 7rem;
}
.fourth-block__cars__description__info__title {
  text-align: start;
  margin: 0 0 2.3125rem 0;
}
.fourth-block__cars__description__info__title-adapt,
.fourth-block__cars__description__slider-adapt {
  display: none;
}
.fourth-block__cars__description__info > ul li:before {
  content: "✓";
  padding-right: 0.9781rem;
}
.fourth-block__cars__description__info > ul > li {
  margin-bottom: 1.75rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
}
.fourth-block__cars__description__info__button-adapt {
  display: none;
}
.fourth-block__cars__description__info__button {
  background: var(--bg-color);
  padding: 1rem 5.9375rem 0.9375rem 6rem;
  margin-top: 0.4375rem;
}
.fourth-block__cars__description__info__button > label {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--font-color);
  cursor: pointer;
}
.fourth-block__cars__description__info__button:hover {
  box-shadow: 0 0 1.25rem 0 rgba(254, 209, 0, 0.8);
  transition: 0.5s;
}
.fourth-block__cars__description__info__button > label:hover {
  color: var(--bg-sec-color);
  transition: 0.5s;
}
.fourth-block__cars__description__pic {
  margin-right: 7rem;
  max-width: 40.0625rem;
  max-height: 28.3125rem;
}
.fourth-block__cars__description-two {
  margin-bottom: 8rem;
}
.fourth-block__cars__description-three {
  margin-bottom: 3.2857rem;
}
/*Adaptive*/
@media (max-width: 75.625rem) {
  #fourth-wrapper {
    margin-bottom: 2.8125rem;
  }
  .fourth-block__cars-info {
    display: none;
  }
  .fourth-block__cars-button {
    margin-bottom: 2.5rem;
  }
  .fourth-block__cars-button > div {
    border: none;
  }
  .fourth-block__cars-button > div:hover {
    border: none;
    text-decoration: underline var(--bg-color);
    font-weight: 500;
  }
  .fourth-block__cars__description__pic {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  .fourth-block__cars__description {
    flex-direction: column;
  }
  .fourth-block__cars__description__info,
  .fourth-block__cars__description__arrow-left,
  .fourth-block__cars__description__arrow-right {
    display: none;
  }
  .fourth-block__cars__description__info__title-adapt,
  .fourth-block__cars__description__info__button-adapt {
    display: block;
  }
  .fourth-block__cars__description__slider-adapt {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  /*Checked*/
  .fourth-block__cars__description__slider-adapt input[type="radio"] + label {
    display: block;
    cursor: pointer;
  }
  .fourth-block__cars__description__slider-adapt input[type="radio"] {
    display: none;
  }
  .fourth-block__cars__description__slider-adapt
    input[type="radio"]
    + label:before {
    content: "";
    background: url(/assets/svg/dot.svg) no-repeat center;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0.5rem 0.5rem 0.7rem 0.5rem;
    color: transparent;
  }
  .fourth-block__cars__description__slider-adapt
    input[type="radio"]:checked
    + label:before {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
    background: url(/assets/svg/dot_big.svg) no-repeat center;
    margin: 0;
  }
  .fourth-block__cars__description__info__title-adapt {
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0;
    margin-bottom: 1.9375rem;
  }
  .fourth-block__cars__description__info__button {
    display: none;
  }
  .fourth-block__cars__description__info__button-adapt {
    background: var(--bg-color);
    padding: 1rem 5.9375rem 0.9375rem 6rem;
    margin-top: 2.125rem;
  }
  .fourth-block__cars__description__info__button-adapt > label {
    font-family: var(--font-fm);
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
  }
  .fourth-block__cars__description__info__button-adapt:hover {
    box-shadow: 0 0 1.25rem 0 rgba(254, 209, 0, 0.8);
    transition: 0.5s;
  }
  .fourth-block__cars__description__info__button-adapt > label:hover {
    color: var(--bg-sec-color);
    transition: 0.5s;
  }
}
@media (max-width: 48rem) {
  #fourth-wrapper {
    margin-bottom: 2.8125rem;
  }
  .fourth-block > h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .fourth-block__cars-info {
    display: none;
  }
  .fourth-block__cars-button {
    margin-bottom: 2.5rem;
  }
  .fourth-block__cars-button > div {
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
  .fourth-block__cars-button > div:hover {
    border: none;
    text-decoration: underline var(--bg-color);
    font-weight: 500;
  }
  .fourth-block__cars__description__pic {
    display: block;
    margin: 0;
    width: 90%;
  }
  .fourth-block__cars__description {
    flex-direction: column;
  }
  .fourth-block__cars__description__info,
  .fourth-block__cars__description > button > img {
    display: none;
  }
  .fourth-block__cars__description__info__title-adapt,
  .fourth-block__cars__description__info__button-adapt {
    display: block;
  }
  .fourth-block__cars__description__slider-adapt {
    display: flex;
    justify-content: space-around;
  }
  /*Checked*/
  .fourth-block__cars__description__slider-adapt input[type="radio"] + label {
    display: block;
    cursor: pointer;
  }
  .fourth-block__cars__description__slider-adapt input[type="radio"] {
    display: none;
  }
  .fourth-block__cars__description__slider-adapt
    input[type="radio"]
    + label:before {
    content: "";
    background: url(/assets/svg/dot.svg) no-repeat center;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0.5rem 0.5rem 0.7rem 0.5rem;
    color: transparent;
  }
  .fourth-block__cars__description__slider-adapt
    input[type="radio"]:checked
    + label:before {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
    background: url(/assets/svg/dot_big.svg) no-repeat center;
    margin: 0;
  }
  .fourth-block__cars__description__info__title-adapt {
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    margin: 0;
    margin-bottom: 1.9375rem;
  }
  .fourth-block__cars__description__info__button {
    display: none;
  }
  .fourth-block__cars__description__info__button-adapt {
    background: var(--bg-color);
    padding: 1rem 5.9375rem 0.9375rem 6rem;
    margin-top: 2.125rem;
  }
  .fourth-block__cars__description__info__button-adapt > label {
    font-family: var(--font-fm);
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
  }
  .fourth-block__cars__description__info__button-adapt:hover {
    box-shadow: 0 0 1.25rem 0 rgba(254, 209, 0, 0.8);
    transition: 0.5s;
  }
  .fourth-block__cars__description__info__button-adapt > label:hover {
    color: var(--bg-sec-color);
    transition: 0.5s;
  }
}
