header {
  background-color: var(--bg-color);
  margin: 0;
}
.header-block,
.first-block,
.second-block,
.third-block,
.fourth-block,
.fifth-block,
.footer-block {
  max-width: 82rem;
  margin: 0 auto;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}
.header-block__logo {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  color: var(--font-color);
}
.header-block__hamburger-main-menu {
  display: none;
}
.header-block__hamburger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.header-block__main-menu {
  display: flex;
}
.header-block__main-menu > li {
  margin: 0.4375rem 1.25rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.header-block__main-menu > li > a {
  text-decoration: none;
  color: var(--font-color);
}
.header-block__main-menu > li > a:hover {
  color: #ff352b;
  transition: 0.5s;
}
.header-block__phone-number {
  margin-top: 0.3125rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: var(--font-color);
  border-bottom: 0.0625rem solid var(--font-color);
}
.header-block__phone-number:hover {
  color: #ff352b;
  transition: 0.5s;
  border-bottom: 0.0625rem solid #ff352b;
}
/*Adaptive*/
@media (max-width: 62.5rem) {
  .header-block {
    margin: 0 1rem 0 1rem;
  }
}
@media (max-width: 47.9375rem) {
  .header-block {
    margin-left: 1rem;
    padding-top: 0;
    margin-top: 0;
  }
  .header-block__logo {
    font-size: 1.4375rem;
    line-height: 1.8125rem;
    margin-top: 3.6rem;
  }
  .header-block__hamburger-menu__button {
    position: fixed;
    border-radius: 50%;
    top: 2.57rem;
    right: 1.25rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 30;
  }
  .header-block__hamburger-menu__lines,
  .header-block__hamburger-menu__lines::before,
  .header-block__hamburger-menu__lines::after {
    position: absolute;
    width: 40px;
    height: 0.115rem;
    background-color: var(--font-color);
  }
  .header-block__hamburger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-block__hamburger-menu__lines::before {
    content: "";
    top: -0.5rem;
  }
  .header-block__hamburger-menu__lines::after {
    content: "";
    top: 0.5rem;
  }
  .header-block__hamburger-menu__lines.active {
    background-color: transparent;
  }
  .header-block__hamburger-menu__lines.active::before {
    top: 0;
    transform: rotate(45deg);
    background-color: var(--bg-sec-color);
  }
  .header-block__hamburger-menu__lines.active::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: var(--bg-sec-color);
  }
  .header-block__hamburger-main-menu {
    display: none;
  }
  .header-block__hamburger-main-menu {
    padding: 4rem;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    background-color: #3f3f3f;
    right: -100%;
  }
  .header-block__hamburger-main-menu.animate {
    right: 0;
  }
  .header-block__hamburger-main-menu > ul > li {
    margin: 0.4375rem 1.25rem;
    font-family: var(--font-fm);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
  }
  .header-block__hamburger-main-menu > ul > li > a {
    text-decoration: none;
    color: var(--bg-sec-color);
  }
  .header-block__hamburger-main-menu > ul > li > a:hover {
    color: #ff352b;
    transition: 0.5s;
  }
  .header-block__hamburger-menu__overlay.animate {
    display: block;
  }
  .header-block__main-menu,
  .header-block__phone-number {
    display: none;
  }
}
@media (max-width: 26.875rem) {
  .header-block {
    margin-left: 1rem;
  }
  .header-block__logo {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .header-block__main-menu,
  .header-block__phone-number {
    display: none;
  }
  .header-block__hamburger-menu__button {
    width: 40px;
    height: 40px;
  }
  .header-block__hamburger-menu__lines,
  .header-block__hamburger-menu__lines::before,
  .header-block__hamburger-menu__lines::after {
    width: 30px;
  }
}
