/*Second block*/
.second-wrapper {
  margin-bottom: 3.375rem;
}
h2 {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 3.75rem;
}
.second-block__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h4 {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 300;
  font-size: 3.125rem;
  line-height: 3.8125rem;
  color: var(--font-color);
  text-shadow: var(--bg-color) 0 0 0.125rem;
  margin-right: 2.625rem;
}
h5 {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--font-color);
}
.second-block__list__description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
  flex: 0 1 50%;
}
.second-block__list__description > div > p {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
  width: 24.375rem;
}
/*Adaptive*/
@media (max-width: 26.875rem) {
  .second-block > h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .second-block__list {
    margin-left: 2.75rem;
  }
  .second-block__list__description {
    flex: 0 1 100%;
    justify-content: flex-start;
  }
  .second-block__list__description > div > h5 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .second-block__list__description > div > p {
    display: none;
  }
}
