.seventh-block {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.seventh-block iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.seventh-block__adapt {
  display: none;
}
@media (max-width: 48rem) {
  .seventh-block__adapt {
    display: block;
    font-family: var(--font-fm);
    font-style: normal;
    font-weight: normal;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: var(--font-color);
    margin: 2.875rem 0 0 2.75rem;
  }
  .seventh-block__adapt > p {
    margin-bottom: 1.25rem;
  }
  .seventh-block__adapt-email {
    text-decoration: underline;
  }
  .seventh-block__adapt-email > a {
    color: var(--font-color);
  }
  .seventh-block__adapt-email > a:hover {
    color: #ff352b;
    transition: 0.5s;
  }
}
