:root {
  --bg-color: #fed100;
  --bg-sec-color: #ffffff;
  --font-color: #333333;
  --font-fm: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
button {
  background-color: var(--bg-sec-color);
}

header {
  background-color: var(--bg-color);
  margin: 0;
}
.header-block,
.first-block,
.second-block,
.third-block {
  max-width: 82rem;
  margin: 0 auto;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
}
.header-block__logo {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  color: var(--font-color);
}
#header-block__hamburger-menu__toggle {
  opacity: 0;
}
.header-block__main-menu {
  display: flex;
}
.header-block__main-menu > li {
  margin: 0.4375rem 1.25rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.header-block__main-menu > li > a {
  text-decoration: none;
  color: var(--font-color);
}
.header-block__main-menu > li > a:hover {
  color: #ff352b;
  transition: 0.5s;
}
.header-block__phone-number {
  margin-top: 0.3125rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: var(--font-color);
  border-bottom: 0.0625rem solid var(--font-color);
}
.header-block__phone-number:hover {
  color: #ff352b;
  transition: 0.5s;
  border-bottom: 0.0625rem solid #ff352b;
}

/*First block*/
#first-wrapper {
  background-color: var(--bg-color);
  margin-bottom: 5.9375rem;
}
.first-block {
  display: flex;
  justify-content: space-between;
}
.first-block__info {
  flex: 0 1 50%;
  z-index: 2;
}
h1 {
  margin-top: 8.75rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: bold;
  font-size: 4.375rem;
  line-height: 5.5625rem;
  color: var(--font-color);
}
.first-block__info > p {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  color: var(--font-color);
}
.first-block__info__main-button {
  margin-top: 3.125rem;
  background: #ff352b;
  padding: 1rem 5.9375rem 0.9375rem 6rem;
  box-shadow: 0.625rem 0.625rem 0 -0.125rem var(--bg-color),
    0.625rem 0.625rem 0 0 #f2f2f2;
}
.first-block__info__main-button:hover {
  background: #ff772b;
  box-shadow: none;
  transform: translate(0.625rem, 0.625rem);
  transition: 0.5s;
}
.first-block__info__main-button > label {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: #f2f2f2;
  cursor: pointer;
}
.first-block__info__list {
  margin-top: 4.125rem;
  display: flex;
  justify-content: flex-start;
}
.first-block__info__list > li {
  display: flex;
  max-width: 8.5rem;
  flex: 30%;
  margin-right: 2.5rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
}
.first-block__info__list > li > p {
  margin-left: 0.625rem;
}
.first-block__info__list > li > img {
  max-width: 3.25rem;
}
.first-block__pic {
  flex: 0 1 50%;
}
.first-block__pic > img {
  max-width: 34.5625rem;
}
.first-block__pic__adapt {
  display: none;
}

/*Second block*/
.second-wrapper {
  margin-bottom: 4rem;
}
h2 {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.3125rem;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 3.75rem;
}
.second-block__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h4 {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 300;
  font-size: 3.125rem;
  line-height: 3.8125rem;
  color: var(--font-color);
  text-shadow: var(--bg-color) 0 0 0.125rem;
  margin-right: 2.625rem;
}
h5 {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--font-color);
}
.second-block__list__description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
  flex: 0 1 50%;
}
.second-block__list__description > div > p {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
  width: 24.375rem;
}

/*Third block*/
#third-wrapper {
  margin-bottom: 6.375rem;
}
h3 {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: var(--font-color);
  text-align: center;
  margin: 0.9375rem 0 3.75rem 0;
}
.third-block__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-block__prices > li {
  border: 0.0625rem solid #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1.4375rem;
}
.third-block__prices > li:hover {
  border: 0.0625rem solid var(--bg-color);
  box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.third-block__prices > li > h3 {
  margin: 5.2588rem 5.8463rem 3.7525rem 5.8125rem;
}
.third-block__prices > li > p {
  margin-bottom: 1.6044rem;
}
.third-block__prices > li > h2 {
  margin: 2.1906rem 0 3.2538rem 0;
}
.third-block__prices-button {
  background: var(--bg-color);
  padding: 1rem 5.9375rem 0.9375rem 6rem;
  margin: 0 5.1875rem 4.9162rem 5.5rem;
}
.third-block__prices-button > label {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--font-color);
  cursor: pointer;
}
.third-block__prices-button:hover {
  box-shadow: 0 0 1.25rem 0 rgba(254, 209, 0, 0.8);
  transition: 0.5s;
}
.third-block__prices-button > label:hover {
  color: var(--bg-sec-color);
  transition: 0.5s;
}

/*Fourth block*/
.fourth-block > h2 {
  margin-bottom: 0.9375rem;
}
.fourth-block__cars-info {
  margin-bottom: 3.75rem;
}
.fourth-block__cars-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-block__cars-button > button {
  background: var(--bg-sec-color);
  margin-right: 1.25rem;
  border: 0.0625rem solid #ebebeb;
  padding: 0.8125rem 1rem 0.8125rem 1rem;
  width: 12.5625rem;
}
.fourth-block__cars-button > button > label {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--font-color);
  cursor: pointer;
}
.fourth-block__cars-button > button:hover {
  border: 0.0625rem solid var(--bg-color);
  transition: 0.5s;
}
.fourth-block__cars__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-block__cars__description__info {
  margin: 0 7rem 0 7rem;
}
.fourth-block__cars__description__info__title {
  text-align: start;
  margin: 0 0 2.3125rem 0;
}
.fourth-block__cars__description > div > ul li:before {
  content: "✓";
  padding-right: 0.9781rem;
}
.fourth-block__cars__description > div > ul > li {
  margin-bottom: 1.75rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
}
.fourth-block__cars__description__info__button {
  background: var(--bg-color);
  padding: 1rem 5.9375rem 0.9375rem 6rem;
  margin-top: 0.4375rem;
}
.fourth-block__cars__description__info__button > label {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--font-color);
  cursor: pointer;
}
.fourth-block__cars__description__info__button:hover {
  box-shadow: 0 0 1.25rem 0 rgba(254, 209, 0, 0.8);
  transition: 0.5s;
}
.fourth-block__cars__description__info__button > label:hover {
  color: var(--bg-sec-color);
  transition: 0.5s;
}
.fourth-block__cars__description__pic {
  margin: 2.9375rem 7rem 0 0;
}

/*Adaptive*/
@media (min-width: 48rem) and (max-width: 62.5rem) {
  .header-block,
  .first-block {
    margin: 0 1rem 0 1rem;
  }
  h1 {
    margin-top: 4rem;
    font-size: 3.0625rem;
    line-height: 3.9375rem;
  }
  .first-block__info > p {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  .first-block__info__list > li > p {
    font-size: 0.625rem;
    line-height: 1rem;
  }
  .first-block__info__list > li > img {
    width: 70%;
  }
  .first-block__pic {
    align-self: flex-end;
    z-index: 1;
  }
  .first-block__pic > img {
    width: 99%;
  }
}
@media (min-width: 20.0625rem) and (max-width: 47.9375rem) {
  .header-block {
    margin-left: 1rem;
  }
  .header-block__logo {
    font-size: 1.4375rem;
    line-height: 1.8125rem;
  }
  .header-block__hamburger-menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1.5625rem;
    right: 1.25rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }
  .header-block__hamburger-menu__btn > span,
  .header-block__hamburger-menu__btn > span::before,
  .header-block__hamburger-menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--font-color);
  }
  .header-block__hamburger-menu__btn > span::before {
    content: "";
    top: -0.5rem;
  }
  .header-block__hamburger-menu__btn > span::after {
    content: "";
    top: 0.5rem;
  }
  .header-block__main-menu,
  .header-block__phone-number,
  .first-block__info__list {
    display: none;
  }
  .first-block {
    justify-content: center;
  }
  .first-block__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-align: center;
    margin-top: 1.875rem;
    font-size: 3.0625rem;
    line-height: 3.9375rem;
  }
  .first-block__info > p {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  .first-block__info__main-button {
    box-shadow: none;
    margin-top: 0;
  }
  .first-block__info__main-button:hover {
    box-shadow: none;
    transform: none;
  }
  .first-block__info__main-button > label {
    font-size: 1.375rem;
    line-height: 1.6875rem;
  }
  .first-block__pic {
    display: none;
  }
  .first-block__pic__adapt {
    display: block;
    position: relative;
  }
}
@media (min-width: 20rem) and (max-width: 26.875rem) {
  #first-wrapper {
    margin-bottom: 2.5rem;
  }
  h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .first-block__info > p {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  .second-block > h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .second-block__list {
    margin-left: 2.75rem;
  }
  .second-block__list__description {
    flex: 0 1 100%;
    justify-content: flex-start;
  }
  .second-block__list__description > div > h5 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .second-block__list__description > div > p {
    display: none;
  }

  .header-block {
    margin-left: 1rem;
  }
  .header-block__logo {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .header-block__hamburger-menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1.5625rem;
    right: 1.25rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }
  .header-block__hamburger-menu__btn > span,
  .header-block__hamburger-menu__btn > span::before,
  .header-block__hamburger-menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--font-color);
  }
  .header-block__hamburger-menu__btn > span::before {
    content: "";
    top: -0.5rem;
  }
  .header-block__hamburger-menu__btn > span::after {
    content: "";
    top: 0.5rem;
  }
  .header-block__main-menu,
  .header-block__phone-number,
  .first-block__info__list {
    display: none;
  }
  #first-wrapper {
    padding-top: 1rem;
  }
  .first-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    margin-top: 0;
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-align: center;
  }
  .first-block__info > p {
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
  }
  .first-block__info__main-button {
    box-shadow: none;
    margin-top: 0;
  }
  .first-block__info__main-button:hover {
    box-shadow: none;
  }
  .first-block__info__main-button > label {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .first-block__pic {
    display: none;
  }
  .first-block__pic__adapt {
    display: block;
  }
}
