#third-wrapper {
  margin-bottom: 6.375rem;
}
.third-block > h2 {
  margin-bottom: 0;
}
h3 {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  color: var(--font-color);
  text-align: center;
  margin: 0.9375rem 0 3.75rem 0;
}
.third-block__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third-block__prices-list {
  border: 0.0625rem solid #ebebeb;
}
.third-block__prices-list:hover {
  border: 0.0625rem solid var(--bg-color);
  box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.third-block__prices-list > h3 {
  margin: 5.25rem 0 3.8125rem 0;
}
.third-block__prices-list > p {
  margin-bottom: 1.6044rem;
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: var(--font-color);
  text-align: center;
}
.third-block__prices-list > h2 {
  margin: 3.9375rem 0 3.375rem 0;
}
.third-block__prices-button {
  background: var(--bg-color);
  padding: 1rem 5.9375rem 0.9375rem 6rem;
  margin: 0 4.5rem 5rem 4.5rem;
}
.third-block__prices-button > label {
  font-family: var(--font-fm);
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--font-color);
  cursor: pointer;
}
.third-block__prices-button:hover {
  box-shadow: 0 0 1.25rem 0 rgba(254, 209, 0, 0.8);
  transition: 0.5s;
}
.third-block__prices-button > label:hover {
  color: var(--bg-sec-color);
  transition: 0.5s;
}
.third-block__all-prices-btn {
  display: none;
}
/*Adaptive*/
@media (max-width: 72.5rem) {
  #third-wrapper {
    margin-bottom: 3.125rem;
  }
  .third-block__prices {
    justify-content: space-evenly;
    margin-bottom: 2.25rem;
  }
  .third-block__prices > div:nth-child(3) {
    display: none;
  }
  .third-block__all-prices-btn {
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: var(--font-fm);
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.3125rem;
    color: var(--font-color);
    text-decoration: underline;
  }
}
@media (max-width: 48rem) {
  #third-wrapper {
    margin-bottom: 3.125rem;
  }
  .third-block {
    background-color: #f8fbff;
    padding: 3.125rem 0;
  }
  .third-block > h2 {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .third-block > h3 {
    display: none;
  }
  .third-block__prices {
    margin-bottom: 1.25rem;
    justify-content: center;
  }
  .third-block__prices-list {
    border: none;
  }
  .third-block__prices-list:hover {
    border: none;
    box-shadow: none;
  }
  .third-block__prices-list > p {
    margin-bottom: 0.9375rem;
  }
  .third-block__prices > div:nth-child(2),
  .third-block__prices > div:nth-child(3) {
    display: none;
  }
  .third-block__prices > div:nth-child(1) > h3,
  .third-block__prices > div:nth-child(2) > h3,
  .third-block__prices > div:nth-child(3) > h3 {
    margin: 0 0 1.5rem 0;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  .third-block__prices-list > h2 {
    margin-top: 1.7975rem 0 3.14rem 0;
  }
  .third-block__prices-button {
    margin: 0 0 1.25rem 0;
  }
  .third-block__all-prices-btn {
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: var(--font-fm);
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.3125rem;
    color: var(--font-color);
    text-decoration: underline;
  }
}
